*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    font-family: ROBOTO ;
}
.bodyone{
    background-color: #1F2937;
}
.bodyone, .bodytwo, 
.bodythree, .bodyfour{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.centeredbox{
    width: 55%;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.headerlogo{
    font-size: 24px;
    color: #F9FAF8;
}
.header ul{
    display: flex;
    gap: 1rem;
}
.header li{
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
}
.firstbody{
    display: flex;
    align-items: center;
}
.subtext h1{ 
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.subtext p{
    font-size: 18px;
    color: #E5E7EB;
}
.subtext, img{
    flex-basis: 50%;
}
.firstbody, .secondbody,
.thirdbody, .bodyfour{
    margin: 12% 0;
}
.firstbody img{
    background-color: #E5E7EB;
    height: 150px;
    width: 100px;
    text-align: center;
}
h2{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.secondbody{
    display: flex;
    gap:2%;
    padding: 1.5%;
}
.emptybox{
    border: solid blue 2px;
    border-radius: 10%;
    height: 100px;
}
.second p{
    text-align: center;
    padding: 1%;
}
.bodythree{
    background-color: #E5E7EB;
    flex-grow: 2;
}
.thirdbody p{
    text-align: center;
    padding: 1%;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}
.thirdbody .comment{
    text-align: right;
}
.forthbodybox{
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2% 4%;
    gap: 2%;
}
button{
    border-radius: 10%;
    background-color: #3882F6;
    padding: .5% 1rem;
}
.footer{
    background-color: #1F2937;
    text-align: center;
    padding: 1.5%;
    color: #E5E7EB;
}